<% layout("layouts/boilerplate") %> <%- include("../partials/centerhead.ejs") %>
<% if(collection._id != "63b104054d385350b8331b31")  {%> 
<a class="newquestion" href="/question/<%= collection._id %> ">ADD NEW QUESTION</a>
<% } %> 
<table class="collection-table">
  <tr class="collection-table-row">
    <th class="collection-table-head" style="width: 45%;">title</th>
    <th class="collection-table-head">submission status</th>
    <th class="collection-table-head" style="width: 30%;">remarks</th>
    <th></th>
  </tr>
  <% let i = 0; for(let question of collection.questions){ %>
  <form action="/update/<%=question._id %>" method="post">
    <tr class ="collection-table-row">
      <td class="collection-table-data"><a href="<%=question.url %>"><%= question.title %></a></td>
      <td class="collection-table-data"><select class="select" name="submissionstatus">
        <option value="CORRECT"<%= (submissionstatus[i]==="CORRECT") ? "selected" : "" %>>CORRECT</option>
        <option value="NOT ATTEMPTED" <%= (submissionstatus[i]==="NOT ATTEMPTED") ? "selected" : "" %> >NOT ATTEMPTED</option> 
        <option value="INCORRECT"<%= (submissionstatus[i]==="INCORRECT") ? "selected" : "" %>>INCORRECT</option>
        <option value="PARTIALLY SOLVED"<%= (submissionstatus[i]==="PARTIALLY SOLVED") ? "selected" : "" %>>PARTIALLY SOLVED</option>
      </select></td>
      <td class="collection-table-data">    <input type="text" class="remark" name="remark" id="" value = "<%= remarks[i] %> ">
      </td>
      <td class="collection-table-data"><button type="submit">UPDATE</button></td>
    </tr>
  </form>
  <% i++; } %>
</table>
